@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-test: #d820b09c;
  --color-s-grey-100: #A8A8AA;
  --color-s-grey-400: #565660;
  --color-s-grey-600: #3F3F46;
  --color-s-grey-900: #333;
  --color-s-grey-950: #444;
  --color-s-grey-1000: #27272A;
  --color-s-grey-1100: #1D1E1F;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Khand", "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: none;
}